#banner {
	width: 125vw;
	height: 25.vw;
	
}
#banner img {
	display: inline-block;
	width: 30vw;
	height: 25vw;
	
	margin-left: -15.3vw;
	
	object-fit: cover; /*Prevent the images from stretching*/
}
#banner .topTrianlge {
	clip-path: polygon(50% 100%, 0 0, 100% 0);
}
#banner .bottomTrianlge {
	clip-path: polygon(50% 0, 0% 100%, 100% 100%);
}

#welcomeTextContainer{
	width: 90%;
	
	margin: 0 auto;
	text-align: center;
}

#redirectButtons {
	width: 100%;
	height: 400px;
}
#redirectButtons  span {
	display: block;
	width: 400px;
	height: 125px;
	
	margin: 20px;
	margin-left: 15%;
	float: left;
	
	background-color: rgb(0, 0, 163);
}
#redirectButtons img {
	width: 100px;
	height: 100px;
	
	float: left;
	margin: 12.5px;
	
	border: 2px solid white;
	padding: 2px;
}
#redirectButtons h3 {
	width: 250px;
	height: 100px;
	
	float: left;
	margin-top: 25px;
	
	font-size: 30px;
	text-align: center;
	padding: 2px;
	color: rgb(255, 255, 255);
}
#redirectButtons span:hover h3{
	text-decoration: underline;
}