* {
	box-sizing: border-box;
	
	font-family: Roboto, Arial, Sans-Serif
}
body {
	background-color: rgb(244, 244, 244);
}
a {
	text-decoration: none;
}

header {
	width: 100%;
	height: 125px;
	display: inline-block;
	
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	
	background-color: rgb(0, 103, 179);
}
header h1{
	width: 100%;
	height: 90px;
	
	padding-top: 15px;
	padding-left: 10px;
	margin: 0px;
	float: left;
	
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 50px;
	white-space: nowrap;
}
header nav {
	height: 35px;
	width: 100%;
	
	padding: 0px;
	margin: 0px;
	z-index: 11;
}
header nav ul {
	display: inline-block;
	width: 100%;
	
	padding: 0px;
	margin: 0px;
	
	background-color: rgb(255, 213, 61, 1);
	list-style-type: none;
}
header nav li {
	width: 20%;
	
	padding: 8.25px 0px;
	float: left;
	
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	color: black;
}
header li:hover {
	background-color: rgb(221, 179, 30);
	font-style: italic;
}
header #headerAudio{
	height: 90px;
	position: absolute;
	top: 10px;
	right: 10px;
}
header #headerAudio span{
	position: absolute;
	bottom: 12.5px;
	right: 15px;
	
	color: white;
}

#scrollableContent {
	width:100%;
	overflow: hidden;
	
	position: absolute;
	z-index: 1;
	top: 125px;
	left: 0px;
	float: left;
}

footer {
	width: 100%;
	
	position: relative;
	top: 15px;
	left: 0;
	clear: left;
	
	background-color: rgb(0, 0, 163);
}

footer .footerLists {
	float: left;
	
	list-style-type: none;
}

.footerText {
	color: white;
	text-decoration: none; 
}

footer a:hover {
	color: white;
	text-decoration: underline; 
}

.footerTitle {
	color: white;
	font-size: 25px;
}

footer hr {
	clear: both;
}

footer .copyright {
	text-align: center;
	color: white;
}